@media only screen and (max-width: 895px) 
{   
    .particles-h1{
        white-space: nowrap;
    }
    label #open {
        display: block;
        font-size: 20px;
    }
    header ul{
        position: fixed;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.877);
        top: 78px;
        right: -100%;
        z-index: 1;
        transition: all .3s ease-in-out;
        text-align: center;
    }
    ul li {
        width: 100%;
        display: block;
    }
    ul li a {
        width: 100%;
    }
    #check:checked ~ ul {
        width: 100%;
        height: 100vh;
        right: 0;
        transition: .5s;
    }
    #check:checked ~ label #open {
        display: none;
    }
    #check:checked ~ label #close {
        display: block;
    }

    .particles-h1 {
        font-size: 60px;
        transition: .4s;
    }
    .h1div h1 {
        font-size: 22px;
        transition: .4s;
    }
    #particles-js {
        background-position: right;
        transition: .6s;
    }
}